body {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    background: #e9f0ff;
    color: black;
    margin: 0;
    padding: 12px;
}

.container {
    margin: 0 auto;
    min-width: 320px;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
}
.license img {
    width: auto;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.header img { flex: 0 0 auto; min-width: 80px; width: 22vw; max-width: 120px; margin-right: 12px; }
.header .introduction { flex: 1 1 auto; max-width: calc(100% - 80px);}
.header h1, .header h2 { word-wrap: break-word; }

.content {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
}

.content .crab-variants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content .crab-variants > div {
    flex: 0 0 auto;
    min-width: 150px;
    width: 22%;
    margin-right: 12px;
}

.crab-variants h3 {
    height: 1.2em;
}

.related-works-nav {
    display: flex;
    background: rgba(255, 255, 255, 0.6);
    margin-bottom: 8px;
}

.related-works-nav a {
    display: block;
    padding: 12px;
}

.related-works-nav a:hover {
    background: white;
}

.related-works .crab-variants {
    margin-left: 24px;
}

h2, h3 {
    color: #01346B;
}
h1 {
    font-family: 'Bevan', 'Rockwell Extra Bold', 'Merriweather', Bodoni, Baskerville, serif;
    font-weight: 400;
    color: #01346B; /* #02549E; */
    font-size: 3em;
    margin-top: .25em;
    margin-bottom: .5em;
}

h1 span {
    color: #e33b26;
}

.dl {
    text-align: center;
}

.content h2, h3, h4 {
    font-weight: 700;
}
a {
    color: #02549E;
    text-decoration: underline;
}

a:hover {
    color: #01346B;
}

.license a[rel="license"] {
    display: block;
}
